

<div class="container">
  <h1>ALL CONTENT</h1>

  <% @contents.each do |content| %>
      <h2><%= content.title %></h2>
      <p><%= content.content %></p>
      <h3><a href="<%= content.url %>"><%= content.url %></a></h3>
  <% end %>


</div>
